/* 模板提示 */
.introduce {
  float: left;
  height: 100%;
  line-height: 40px;
  border-bottom: solid 3px transparent;
  font-weight: normal;
  cursor: pointer;
  font-size: 12px;
  color: #888;
}
.mode-btn{
  display: inline;
  background-color: #336ca0;
  border-radius: 4px;
  padding: 6px;
  .el-button{
    padding: 0;
    margin: 0;
    text-align: center;
    span{
      display: block;
      border-left: 1px solid #587998;
      padding: 0 3px 0 5px;
      color: #f1f5f9;
      font-size: 12px;
    }
    &:hover {
      span{
        color: #ffd200;
      }
    }
    & + .el-button{
      margin: 0 !important;
    }
  }
  .el-button:first-child{
    span{
      border: none;
    }
  }
}
.model-panel{
  padding: 10px;
}
.model-list{
  position: relative;
  height: 200px;
  min-width: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: url(../../../assets/images/bg_model.png);
  background-size: 120%;
  overflow: hidden;
  text-align: center;
  .self-swich{
    position: absolute;
    width: 50px;
    top: 10px;
    right: 10px;
  }
}
.model-title{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: content-box;
  padding: 60px 0 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  color: #fff;
}
.model-list.isdefault::after{
  position: absolute;
  display: block;
  content: '默认';
  width: 100px;
  height: 20px;
  background-color: #ffd200;
  font-size: 14px;
  font-weight: 500;
  top: 0;
  left: 0;
  transform: translate(-30%,40%) rotate(-45deg) ;
}
@media screen and (min-width: 1466px) {
  .model-col-1466{
    width: 25%!important;
  }
}
@media screen and (max-width: 1740px) {
  .model-col-1740{
    width: 33.33%!important;
  }
}
@media screen and (max-width: 1423px) {
  .model-col-1423{
    width: 50%!important;
  }
}
.add-model-list{
  position: relative;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  height: 200px;
}
.add-model-list::before,.add-model-list::after{
  position: absolute;
  display: block;
  content: '';
  background-color: #cccccc;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.add-model-list::after{
  height: 100px;
  width: 10px;
}
.add-model-list::before{
  width: 100px;
  height: 10px;
}
